h1 {
    font-weight: 700;
    font-size: 45px;
    margin: 10px;
    margin-bottom: 20px;
    
    text-align: center;
      

}
input{
    width: 100%;
}
.items-container{
    text-align: left;
    
}
.sk-row {
    margin: 7px 3px;
}
.todo-container{
    text-align: center;
}
.sk-btn{
    min-width: 80px;
}
