h1 {
    font-weight: 700;
    font-size: 45px;
    margin: 10px;
    margin-bottom: 40px;
    color: rgb(160, 95, 95);
    background-color: chartreuse;
    width: 100%;
    font-style: italic;
    text-decoration: overline;


}
*{
    background-color: rgb(255, 255, 255);
}
.container text-center{
    text-align: center;
    background-color: lightcoral;
}