h1 {
    font-weight: 700;
    font-size: 45px;
    margin: 10px;
    margin-bottom: 40px;
    color: rgb(160, 95, 95);
    background-color: chartreuse;
    width: 100%;
    font-style: italic;
    text-decoration: overline;


}
input{
    width: 100%;
}


.items-container{
    text-align: left;
    /* background-color: rebeccapurple; */
}
.sk-row {
    margin: 7px 3px;
}
.todo-container{
    text-align: center;
}